#abcd{
    background-color: yellow;
}

.logo{
   width:100px;
   padding:5px;
}

.header{
    display:flex;
    justify-content: space-between;
    margin:10px;
    border:1px solid black;
}

.nav > ul {
    display: flex;
    list-style-type:none
}


.nav > ul > li {
    padding : 10px;
}

.card{
    border:1px solid black;
    width:200px;
    padding : 10px;
    margin:10px;
}

.card > img {
     width:100%;
}

.RestaurantList{
    display: flex;
    flex-wrap: wrap;
}



    


